/*
Colors:

turquoise #68baa7
dark purple #4e476b
light purple #6c648b
tan #b6a19e
gold #fba100
 */

 /* * {
   border: 1px dashed blue;
 } */

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #ffffff;
  margin: 0em;
}

header {
  background-color: #4e476b;
  padding: 2.5em 0em;
}

h1 {
  margin: 0em;
}

main {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  background: rgb(108,100,139);
  background: linear-gradient(180deg, rgba(108,100,139,1) 0%, rgba(182,161,158,1) 100%);
}

button {
  background-color: #4e476b;
  color: #ffffff;
  border: 1px solid #b6a19e;
  border-radius: 5px;
  padding: 1em;
  margin: 2em;
  width: 16em;
  cursor: pointer;
}

button:hover:not([disabled]) {
  border-color: #fba100;
  background-color: #5d567b;
}


.change-game-btn {
  width: auto;
}

.sidebar {
  background-color: #6c648b;
  padding-top: 6%;
  width: 15%;
}

.game-container {
  padding: 2% 14%;
  width: 45%;
}

.weapon {
  height: 10em;
  margin-bottom: 1em;
  cursor: pointer;
}

.weapon:hover {
  transform: scale(1.1, 1.1);
}

.weapon-container {
  display: inline-flex;
  align-content: center;
  z-index: 1;
  height: 170px;
  width: 170px;
}

.static {
  pointer-events: none;
}

.player-icon {
  height: 40px;
}

.selector {
  position: relative;
  right: 90px;
  top: 140px;
  z-index: 2;
}

.results {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}
